.heading{
    font-size: 28px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 18px;
    color: black;

}
body{
    background-size: cover;
}
.div-speed{
    float:left;

}
.div-speed-img{
    border-radius: 100px;
    width: 200px;
}
#speed{
    font-size: 18px;
}
.div-volume{
    float:right;

}
.div-volume-img{
    border-radius: 100px;
    width: 200px;
}
#volume{
    font-size: 18px;
}